<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">List of Movie-genres</a>
    <form class="d-flex align">
      <button class="btn btn-light" style="width: 200px" type="submit"><%= link_to "New List", new_list_path%></button>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%=link_to list.name, list_path(list)%>
    </div>
  <% end %>
</div>

<div class="btn btn-light">
<%= link_to "New List", new_list_path%>
</div>
